<div style="margin-top:40px;"><a class="footerlink" onclick="return showPrivacy()" href="#privacy">Privacy Policy</a> <a class="footerlink" onclick="return showTos()" href="#tos">Terms of Use</a> </div>
<div id="footer">
    <div id="privacy" style="display:none">By authorizing this application, you grant {{app_name}} access to your basic profile information and email address. None of this information will be used for other purposes or sold to any third parties.</div>
    <div id="tos" style="display:none">In order for this app to function properly, you agree to allow us to access your basic profile information and email address.  Furthermore, any attempts to abuse the application may result in loss of access to your {{app_name}} account.</div>
</div>


